.btn {
  position: relative;
  overflow: visible;
  
  box-sizing: border-box;

  min-width: 48px;
  min-height: 48px;

  image-rendering: pixelated;

  border: 16px solid;
  border-image: url("../assets/button/border-image_default.png") 16 stretch;
}

.btn:not(:disabled):active {
  border-image: url("../assets/button/border-image_active.png") 16 / auto / 5px 3px 11px 5px stretch;
}

.btnBody {
  position: relative;
  z-index: 1;
  margin: -16px;
}

.btn:not(:disabled):active > .btnBody {
  position: relative;
  top: 7px;
  left: 7px;
  z-index: 100;
}
